<html lang="en">
<head>
   {{>headerlinks}}
   <style>
      body {
        background-image: url(" https://img.freepik.com/free-photo/vintage-color-beauty-sunny-abstract_1203-4542.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
   </style>
   
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-10 main_header_right align-items-center">
                        <figure class="aboutImg">
                         <img src="https://cdn.dribbble.com/users/1370433/screenshots/4381805/smile_2.gif" alt="img missing" class="img-fluid" title="Anamika Sadh">
                        </figure>
                     </div>

                      <!-- right side div -->
                    <div class="col-md-6 col-10 main_header_left" >
                        <p>Welcome to SkyPulse</p>
                        <h1>I am a Java coder, <span class="txt_clr">Web developer</span> and Open Source Enthusiast!</h1>
                        <a href="https://anasadh.github.io/Anamika_Sadh/"><button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>        
    </div>

   {{>footer}}

</body>
</html>